<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 引入样式 -->

    <link rel="stylesheet" href="../plugins/elementui/index.css">


    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">

</head>

<!--<body style="background:url('../../images/bg1.jpg') no-repeat; background-size: cover;">-->

<div id="wrapper">

    <div style="width: 500px; margin: 150px auto; background-color:rgba(100,149,237,0.5); border-radius: 10px">

        <div style="width: 100%; height: 100px; font-size: 30px;line-height: 100px; text-align: center; color: darkblue">

            欢迎登录后台管理系统

        </div>

        <div style="margin-top: 25px; width: 100%; height: 320px;">

            <div style="width: 60%; margin: 0 auto">

                <!--1-->
                <input v-model="user.username" type="text"

                       style="border: 1px solid #ccc; height: 40px; padding: 10px; width: 100%" placeholder="请输入账号">

                <input v-model="user.password" type="password"

                       style="border: 1px solid #ccc; height: 40px; padding: 10px; width: 100%; margin-top: 25px"

                       placeholder="请输入密码">


                <button @click="login"

                        style="height: 40px; padding: 10px; width: 100%; margin-top: 40px; background-color: steelblue; color: white">

                    登录

                </button>

                <a style="width: 100%; text-align: right; display: inline-block; margin-top: 25px; color: darkblue"

                   href="http://localhost:8081/pages/usercheck.html">验证码登录</a>
            </div>


        </div>

    </div>

</div>


<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>

<script>

    new Vue({
        el: "#wrapper",

        data: {

            user: {}

        },

        methods: {
            login() {
                if (!this.user.username) {
                    this.$message({
                        message: "请输入用户名",
                        type: "error"
                    });
                    return;
                }
                if (!this.user.password) {
                    this.$message({
                        message: "请输入密码",
                        type: "error"
                    });
                    return;
                }

                axios.post("/user/login",this.user).then((res) => {
                    console.log(res.data);
                    if(res.data.code==20041){
                        this.$message.success("成功");
                        setTimeout(() => {
                            location.href= "http://localhost:8081/pages/outorder.html"
                        }, 1000)
                    }else{
                        this.$message.error("失败");
                    }

                })
            }
        }
    })

</script>
</body>
</html>